body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
}

h1 {
    text-align: center;
    position: relative;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 62px;
    animation: spin-and-color 5s infinite linear;
}

@keyframes spin-and-color {
    0% {
        transform: rotate(0deg);
        color: red;
    }
    25% {
        transform: rotate(90deg);
        color: blue;
    }
    50% {
        transform: rotate(180deg);
        color: green;
    }
    75% {
        transform: rotate(270deg);
        color: orange;
    }
    100% {
        transform: rotate(360deg);
        color: red;
    }
}